<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Service Manager</title>
		<link rel="stylesheet" href="<%= resourcePath %>/css/base.css">
		<link rel="stylesheet" href="<%= resourcePath %>/css/index.css">
		<link rel="stylesheet" href="<%= resourcePath %>/css/home.css">
	</head>
	<body>
		<section class="todohome">
			<header>
				<h1>ADMIN</h1>
			</header>
			<section>
				<h2>PLEASE LOGIN TO MANAGE FILES</h2>
				<a class="button" href="<%= loginPath %>">Sign in</a>
			</section>
		</section>
	</body>
</html>
